@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
   
}

body{
    background-color: #f0f3f4;
    color: #262626;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.hpc{
    width: 100%;
}

div.div3{
    width: 100%;
    padding: 0;
}

.balance h1{
    padding: 0;
    line-height: 150px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    color: #262626;
}
.bal h6{
    padding: 0;
    width: 100%;
    text-align: right;
    font-weight: 900;
    letter-spacing: 3px;
    color: #262626;
}

.balance h1 sup{
    vertical-align: super;
    font-size:large;
    letter-spacing: 0px;
    padding-right: 15px;
    line-height: 100%;
}

.bal sup{
    vertical-align: super;
    font-size: small;
    letter-spacing: 0px;
    padding-right: 15px;
    line-height: 100%;
}

.fa-plus-circle{
    color: #f36e23;
    padding-left: 10px;
}

.fa-plus-circle:hover{
    color: #f7931e;
}

div .row .buttons div{
    line-height: 150px;
}

.play, .mytix, .stats{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description{
    display: block;
    padding-bottom: 20px;
    line-height: 100%;
    font-size: larger;
    font-weight: 900;
    padding-top: 15px;
}

.threeButton{
    cursor: pointer;
    height: 150px;
    width: 100%;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

/* i.fas.fa-gamepad{
    color: white;
} */


/* PLAY BUTTON */
.buttonPlay{
    background-image: linear-gradient(to right, #f36e23 , #f7931e);
    color: white;
    border-radius: 0.5rem;
    border-bottom: 0.40em solid #bd6500;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    box-shadow: 0 2px 3px rgb(177, 177, 177);
}
.buttonPlay #icon1{
    color: white;
}
.buttonPlay:hover, .buttonPlay:hover #icon1{
    color: #f36e23;
    background: white;
    border-bottom-width: 0;
    margin-top: 0.2em;
}
/* =========================== */

/* MY TICKETS BUTTON */
.buttontix{
    background-image: linear-gradient(to right, #2f3136 , #54575f);
    color: white;
    border-radius: 0.5rem;
    border-bottom: 0.40em solid #2f3136;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    box-shadow: 0 2px 3px rgb(177, 177, 177);
}
.buttontix #icon2{
    color: white;
}
.buttontix:hover, .buttontix:hover #icon2{
    color: #2f3136;
    background: white;
    border-bottom-width: 0;
    margin-top: 0.2em;
}
/* =========================== */

/* STATS BUTTON */
.buttonstats{
    background-image: linear-gradient(to right, #009885 , #74d4af);
    color: white;
    border-radius: 0.5rem;
    border-bottom: 0.40em solid #009885;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    box-shadow: 0 2px 3px rgb(177, 177, 177);
}
.buttonstats #icon3{
    color: white;
}
.buttonstats:hover, .buttonstats:hover #icon3{
    color: #009885;
    background: white;
    border-bottom-width: 0;
    margin-top: 0.2em;
}
/* =========================== */

.bal{
    border-radius: 15px;
}

.balance{
    border-radius: 15px;
    width: 100%;
    background: white;
    transition: 1s;
    -webkit-transition: 1s;
    border-bottom: 0.40em solid rgb(244, 113, 37);
}

button.loadwallet{
    background: none;
    border: none;
}
button.loadModalCloseBtn{
    border:none;
}

.react-datetime-picker__wrapper{
    border: none;
    height: 21px;
}

.form-control{
    text-align: left;
}

button.loadWalletBtn{
    width: 30%;
}

th{
    font-weight: 600;
}

tr td div button{
    background: #f36e23;
    color: white;
    font-weight: normal;
    border:none;
}

tr td div button:hover{
    background: #74d4af;
    color: white;
    font-weight: normal;
    border:none;
}

table{
    background: white;
    height: 300px;
}

.playModalBody{
    background: #f0f3f4;
}

td{
    vertical-align: middle;
}

.mechanicsmodalheader{
    border-bottom: none;
}

.icon{
    width: min-content;
}
h1.iconlabel{
    line-height: 80px;
    text-align: left;
    margin-top: revert;
}

div#datetime{
    height: 160px;
    align-items: center;
}
.drawtime, .drawdate{
    border: 1px solid #262626;
}
.drawdate input#date{
    height: 21px;
}
.modal-content.ez2playgame.modal-content-scrollable{
    overflow: scroll;
}

div#combination{
    height: 100%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-toolbar{
    justify-content: center;
}
button.btn.mx-5.btnamount{
    width: 100px;
}
div#ez2Bet{
    overflow: hidden;
}

.btnAddMore{
    background: #f7931e;
    color: white;
    border: none;
    border-radius: 10px;
}
.btnCheckout{
    background: white;
    color: #009885;
    border: 1px solid #009885;
    border-radius: 10px;
}
.btnCheckout:hover{
    transition: none;
    cursor: pointer;
    background: #009885;
    color: white;
    font-weight: normal;
}
.btnRemove{
    background: #2f3136;
    color: white;
    border: none;
    border-radius: 10px;
}
.btnRemove:hover{
    background: #2f31368c;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: normal;
}

button.btn.mx-3.btn-default.btn-circle.btn-xl.combibtn{
    border-radius: 5px;
    background-color: #9ba0a6;
    color: #262626;
}

button.btn.mx-5.btn-default.btn-circle.btn-xl.betinputbtn{
    border-radius: 5px;
    background-color: #9ba0a6;
    color: #262626;
}

.btn-toolbar.btnReceipts {
    padding-top: 23px;
    display: block;
}
button.btnDownload, button.mx-2.btnHome{
    border-radius: 20px;
}
button.btnDownload{
    background-color: #f7931e;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px;
}
button.mx-2.btnHome{
    background-color: white;
    border: 2px solid #9ba0a6;
    color: #9ba0a6;
    font-size: 14px;
}
button.px-3.py-1.btnDownload:hover{
    font-weight: 600;
    background-color: #f36e23;
}
button.mx-2.btnHome:hover{
    border: none;
    background-color: #262626;
    color: white;
    font-weight: 600;
    text-align: center;
}
.col-md-7.receiptcolumn{
    background: #f0f3f4;
    border-radius: 10px;
    overflow: auto;
}

button.btn.mx-5.btnamount:focus{
    background: #f7931e; 
    color: #262626;
    font-weight:900;
}

th.receipthead{
    border-bottom: none;
    font-weight: 200;
}
th.receipthead.right{
    text-align: right;
}

b.databold{
    font-weight: 600;
}