/* Union Bank Color Palette */
.dark-primary-color    { background: #f36e23; }
.default-primary-color { background: #f7931e; }
.light-primary-color    { background: #f0f3f4;}
.alternate-bg-color    { background: #74d4af;}
.text-primary-color    { color: #262626; }
.text-lighter-color    { color: #9ba0a6; }
.text-alternate-color  { color: #ffffff; }

/* shadow: #bd6500 
   dark teal: #009885;
   black: #2f3136;
   lighter: #54575f;
*/