@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f3f4;
    color: #262626;
}

/* Back Button */
.back{
    color: #262626;
    transition: 0.5s;
}
.back:hover{
    transform: translateX(-10px);
    transition: 0.5s;
}
/* =========== */

h2{
    font-weight: 900;
    letter-spacing: 1px;
    color: #f36e23;
}
span{
    color: black;
    padding-right: 8px;
}

/* ====== AR? Login ====== */
.CCC{
    color: #f7931e;
    font-weight: 600;
}
.CCC:hover{
    color: #f36e23;
    font-weight: 600;
}
.login{
    font-size: smaller;
}
/* ============================= */

/* input type number arrow default removal */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* ====================================== */

/* BUTTONS */
.btn{
    color: #ffffff; 
    background-color: #f36e23;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn1{
    color: #ffffff; 
    background-color: #f36e23;
    border: 0px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
}
.btn:hover, .btn1:hover{
    background-color: #f7931e;
    color: #262626;
}
/* ============================== */

/* OR SIGN UP WITH */
.grp-btn{
    display: flex;
}
.vertical {
    border-left: 2px solid #bebebe;
    height: 40px;
}
.fa-facebook-f{
    color: #3C589C;
}
.fa-google-plus-g{
    color: #DF4B3B;
}
.fa-facebook-square{
    font-size: 2.5rem;
    color: #4267B2;
}
.fa-google-plus-square{
    font-size: 2.5rem;
    color: #db4a39;
}
.btnfb, .btnggle{
    background-color:#ffffff;
    border: 2px solid #9ba0a6;
    border-radius: 5px;
    line-height: 31px;
    font-size: 13px;
}
.btnfb:hover, .btnggle:hover{
    background-color: #f7931e;
    color: #262626;
    border: none;
}