@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

body{
    line-height: 1.7;
}

.navbar{
    box-shadow: white;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-brand{
    font-weight: 900;
}

.btn.login {
    padding: 8px 25px;
    border-width: 2px;
    border-radius: 50px;
    border: 0px;
    background-color: #FD0000;
    font-size: smaller;
    font-weight: 600;
    
}

.btn.signup{
    padding: 8px 25px;
    border-width: 2px;
    border-radius: 50px;
    border: 0px;
    background-color: #FD0000;
    font-size: smaller;
    font-weight: 600;
    
}

.btn:hover{
    background-color: white;
    color: #FD0000;
}

img {
    width: 100%;
}

.hero {
    height: 88.5vh!important;
    background-image: url(../img/homebg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1.f{
    font-size: 48px;
    font-weight: bolder;
    background-color: black;
    width: 538px;
}

h1.s{
    font-size: 48px;
    font-weight: bolder;
    background-color: black;
    width: 470px;
}

p{
    font-size: larger;
}