@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
@import url("palette.css");

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f3f4;
    color: #262626;
}

/* Back Button */
.back{
    color: #f36e23;
    transition: 0.5s;
}
.back:hover{
    transform: translateX(-10px);
    transition: 0.5s;
}
/* =========== */

h2{
    font-weight: 900;
    letter-spacing: 1px;
    color: #f36e23;
}

/* Forgot MPIN */
.forgot{
    font-size: smaller;
}
/* ============ */

/* ====== DHAAY? Sign Up ====== */
.CCC{
    color: #f7931e;
    font-weight: 600;
}
.CCC:hover{
    color: #f36e23;
    font-weight: 600;
}
.signup{
    font-size: smaller;
}
/* ============================= */

/* MPIN */
.mpin{
    display: block;
}
input{
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    background: #9ba0a67a;

}
/* ======================= */

/* ===== Buttons ===== */
.btn{
    color: #ffffff; 
    background-color: #f36e23;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn:hover{
    background-color: #f7931e;
    color: #262626;
}
/* ========================================== */





